<table class="table table-reflow">
    <thead>
    <tr>
        <th>Request Id</th>
        <th>Customer Id</th>
        <th>Time Elapsed</th>
        <th>Status</th>
        <th>Driver</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>12103</td>
        <td>3452</td>
        <td>45 sec</td>
        <td>Waiting</td>
        <td>None</td>
    </tr>
    <tr>
        <td>12102</td>
        <td>3102</td>
        <td>1 min 30 sec</td>
        <td>Ongoing</td>
        <td>234</td>
    </tr>
    <tr>
        <td>12101</td>
        <td>3049</td>
        <td>4 min 45 sec</td>
        <td>Complete</td>
        <td>212</td>
    </tr>
    </tbody>
</table>