<table class="table table-reflow">
    <thead>
    <tr>
        <th>Request Id</th>
        <th>Customer Id</th>
        <th>Time Elapsed</th>
        <th>Status</th>
        <th>Driver</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="request in requests">
        <td>{{ request._id }}</td>
        <td>{{ request.customerId }}</td>
        <td>{{ request.createdAt }}</td>
        <td>
            <div ng-switch on="request.status">
            <div ng-switch-when="1">Waiting</div>
            <div ng-switch-when="2">On going</div>
            <div ng-switch-when="3">Completed</div>
            <div ng-switch-default>Waiting</div>
            </div>
        </td>
        <td>{{request.driverId  ? request.driverId : 'None'}}</td>
    </tr>
    </tbody>
</table>