<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#waiting">Waiting</a></li>
    <li><a data-toggle="tab" href="#ongoing">Ongoing</a></li>
    <li><a data-toggle="tab" href="#completed">Completed</a></li>
</ul>

<div class="tab-content">
    <div id="waiting" class="tab-pane fade in active">
        <form method="POST" ng-repeat="w in waiting">
            <div class="form-group" >
                <div class="col-md-8" >
                    <div class="col-md-6"><b>Request Id:</b> {{w._id}}</div>
                    <div class="col-md-6"><b>Customer Id:</b> {{w.customerId}}</div>
                    <input type="text" ng-model="formData.requestId" value="w._id" style="display:none"/>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary" ng-click="select(w._id)">Select</button>
                </div>
            </div>
        </form>
    </div>
    <div id="ongoing" class="tab-pane fade">
        <div class="form-group" ng-repeat="og in ongoing">
            <div class="col-md-8" >
                <div class="col-md-6"><b>Request Id:</b> {{og._id}}</div>
                <div class="col-md-6"><b>Customer Id:</b> {{og.customerId}}</div>
            </div>
        </div>
    </div>
    <div id="completed" class="tab-pane fade">
        <div class="form-group" ng-repeat="c in completed">
            <div class="col-md-8" >
                <div class="col-md-6"><b>Request Id:</b> {{c._id}}</div>
                <div class="col-md-6"><b>Customer Id:</b> {{c.customerId}}</div>
            </div>
        </div>
    </div>
</div>